<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="description" content="">
<meta name="author" content="">
<link href="/frontend/bower/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css{{ version }}" rel="stylesheet">
<link href="/frontend/bower/bootstrap-markdown/css/bootstrap-markdown.min.css{{ version }}" rel="stylesheet">
<link href="/frontend/bower/select2/dist/css/select2.css{{ version }}" rel="stylesheet">
<link href="/frontend/css/main.css{{ version }}" rel="stylesheet">
