<script src="/frontend/bower/jquery/dist/jquery.min.js{{ version }}"></script>
<script src="/frontend/bower/bootstrap-sass/assets/javascripts/bootstrap.min.js{{ version }}"></script>
<script src="/frontend/bower/d3/d3.min.js{{ version }}"></script>
<script src="/frontend/bower/lodash/lodash.min.js{{ version }}"></script>
<script src="/frontend/bower/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js{{ version }}"></script>
<script src="/frontend/bower/bootstrap-datepicker/dist/locales/bootstrap-datepicker.vi.min.js{{ version }}" charset="UTF-8"></script>
<script src="/frontend/bower/react/react.js{{ version }}" charset="UTF-8"></script>
<script src="/frontend/bower/react/react-dom.js{{ version }}" charset="UTF-8"></script>
<script src="/frontend/bower/markdown/lib/markdown.js{{ version }}" charset="UTF-8"></script>
<script src="/frontend/bower/to-markdown/dist/to-markdown.js{{ version }}" charset="UTF-8"></script>
<script src="/frontend/bower/bootstrap-markdown/js/bootstrap-markdown.js{{ version }}" charset="UTF-8"></script>
<script src="/frontend/bower/select2/dist/js/select2.full.min.js{{ version }}" charset="UTF-8"></script>
<script src="/frontend/bower/moment/min/moment.min.js{{ version }}" charset="UTF-8"></script>
<script src="/frontend/bower/url-pattern/lib/url-pattern.js{{ version }}" charset="UTF-8"></script>
<script src="/frontend/bower/node-uuid/uuid.js{{ version }}" charset="UTF-8"></script>

<script src="/frontend/js/requires.js{{ version }}" charset="UTF-8"></script>
