html,
body {
  height: 100%;
}

body {
  position: relative;
}

/* Site layout - fixed footer ---------------------------------------------------------------------- */
.site {
  @include flex(column nowrap);
  height: 100%;
}

.site-header,
.site-footer {
  flex: none;
  width: 100%;
}

.site-content {
  flex: 1 0 auto;
  width: 100%;
  &:after {
    content: '\00a0';
    display: block;
    height: 0px;
    visibility: hidden;
  }
}

.Site-content--full {
  padding: 0;
  &:after {
    content: none;
  }
}

// layout decoration
.site-header,
.site-content,
.site-footer {
  padding: 0;
}

.site-header,
.site-footer {
  background-color: darkorchid;
}
