.page-index {
  display: flex;
  flex-flow: column;
}

.page-index {
  .site-container-row {
    display: flex;
    flex-flow: row;
  }

  .site-container-row {
    .post-left {
      flex: 2 2 0;
    }

    .post-right {
      flex: 1 1 0;
    }
  }

  .post {
    display: flex;
    flex-flow: row wrap;
  }

  .post {
    .post-header {
      width: 100%;
    }
  }

}
