.page-index {
  @include flex(column);
}

.page-index {
  .site-container-row {
    @include flex(row);
  }

  .site-container-row {
    .post-left {
      flex: 2 2 0;
      padding-right: 10px;
    }

    .post-right {
      flex: 1 1 0;
    }
  }

  .post {
    @include flex(row wrap);
  }

  .post {
    .post-header {
      width: 100%;
      background-image: url('/assets/img/post-header-bg.png');
      background-position: 100% 22px;
      background-repeat: no-repeat;
    }
  }

  .post {
    .post-header {
      h3 {
        background-color: white;
        display: inline-block;
        padding-right: 7px;
      }
    }
  }
}
