<div class="post post-left post-news">
  <div class="post-header">
    <h3 class="post-header-content">Tin vắn dòng họ</h3>
  </div>
  <div class="post-body">
    <div class="post-news-left">
      <div class="post-news-image">
        <img alt="" src="/assets/img/a.jpg"/>
      </div>
      <div class="post-image-title">
        <h4>
          <a href="/">Cháu Trần Xuân Trường trúng số độc đắc 100 triệu đồng</a>
        </h4>
      </div>
      <div class="post-image-date">
        16/05/2015
      </div>
      <div class="post-image-content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enimad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </div>
    </div>
    <div class="post-news-right">
      <ul class="post-news-list fa-ul">
        <li class="hidden-xs">
          <i class="fa-li fa fa-lg fa-caret-right"></i>
          <div class="post-news-title">
            <a href="/">Cháu Trần Xuân Trường trúng số độc đắc 100 triệu đồng</a>
          </div>
          <div class="post-news-date">
            16/05/2015
          </div>
        </li>
        <li class="hidden-xs">
          <i class="fa-li fa fa-lg fa-caret-right"></i>
          <div class="post-news-title">
            <a href="/">Cháu Trần Xuân Trường tham dự hôi thi IT khỏe đẹp lần 3</a>
          </div>
          <div class="post-news-date">
            16/05/2015
          </div>
        </li>
        <li class="hidden-xs">
          <i class="fa-li fa fa-lg fa-caret-right"></i>
          <div class="post-news-title">
            <a href="/">Cháu Trần Xuân Trường mua máy Macbook Pro 20 củ</a>
          </div>
          <div class="post-news-date">
            16/05/2015
          </div>
        </li>
        <li class="hidden-xs">
          <i class="fa-li fa fa-lg fa-caret-right"></i>
          <div class="post-news-title">
            <a href="/">Cháu Trần Xuân Trường bị công an gọi lên điều tra</a>
          </div>
          <div class="post-news-date">
            16/05/2015
          </div>
        </li>
        <li class="hidden-xs">
          <i class="fa-li fa fa-lg fa-caret-right"></i>
          <div class="post-news-title">
            <a href="/">Cháu Trần Xuân Trường bán máy Macbook Air với giá 15 củ</a>
          </div>
          <div class="post-news-date">
            16/05/2015
          </div>
        </li>
        <li class="post-news-more">
          <a href="/">
            Xem thêm tin tức
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
