{% extends "layouts/main.html" %}

{% block content %}
<div class="page-addrelation page-addchild">
  <div class="addrelation-container">
    <form method="POST" action="/person/addChild">
      <input name="parent_id" type="hidden" value="{{ params.parent.id }}"/>
      <div class="form-group">
        <label>{{ params.parent-title }}</label>
        <input type="text"
               disabled
               value="{{ params.parent.full_name }}"
               class="form-control">
      </div>
      <div class="form-group">
        <label>Họ tên mẹ</label>
        <select name="partner_id" class="form-control">
          <option>unknown</option>
          {% for partner in params.partners %}
            <option {% if forloop.first %}selected{% endif %}
                    value="{{ partner.id }}">
              {{ partner.full_name }}
            </option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label>Child name</label>
        <input type="text"
               name="child_name"
               value=""
               placeholder="họ tên con"
               class="form-control">
      </div>
      <div class="form-group">
        <label>Child order</label>
        <input type="text"
               name="child_order"
               value=""
               placeholder="thứ tự con"
               class="form-control">
      </div>
      <button type="submit" class="btn btn-default">Add child</button>
    </form>
  </div>
</div>
{% endblock %}

{% block extra_script %}

{% endblock %}
