{% extends "layouts/main.html" %}

{% block content %}
<div class="page-editperson">
  <div class="editperson-header">
    <div class="editperson-title">
      Add new person
    </div>
    <div class="editperson-buttons">
      <button class="btn btn-success">Submit</button>
      <button class="btn btn-danger">Cancel</button>
    </div>
  </div>

  <div class="editperson-body">
    <div class="editperson-body-left">
      <div class="editperson-select-image">
        Image here
      </div>
      <div class="editperson-profile">
        Profile goes here
      </div>
      <div class="editperson-history">
        History goes here
      </div>
    </div>

    <div class="editperson-body-right">
      DEF
    </div>
  </div>
</div>
{% endblock %}

{% block extra_script %}
{% endblock %}
