{% extends "layouts/main.html" %}

{% block content %}
<div class="page-editperson">
  <div class="editperson-header">
    <div class="editperson-title">
      Add new person
    </div>
    <div class="editperson-buttons">
      <button class="btn btn-success">Submit</button>
      <button class="btn btn-danger">Cancel</button>
    </div>
  </div>

  <div class="editperson-body">
    <div class="editperson-col-1">
      <div class="col-1-img">
        <img class="img-responsive" alt="" src="/assets/img/t.jpg"/>
      </div>
      <div class="col-1-buttons">
        <button class="btn btn-success">Select</button>
        <button class="btn btn-danger">Delete</button>
      </div>
    </div>
    <div class="editperson-col-2">
      <div class="profile-container">
        <div class="profile-header">
          Hồ sơ
        </div>
        <div class="profile-body">
          BOdy
        </div>
      </div>

      <div class="history-container">
        <div class="history-header">
          History
        </div>
        <div class="history-body">
          BOdy
        </div>
      </div>
    </div>

    <div class="editperson-col-3">
      <div class="parent-container">
        <div class="parent-title">
          Parent
        </div>
        <div class="parent-help">
          Help text
        </div>
        <div class="parent-body">
          Select parent
        </div>
      </div>

      <div class="family-container">
        <div class="family-title">
          Family
        </div>
        <div class="family-help">
          Help text
        </div>
        <div class="family-body">
          Select family
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_script %}
{% endblock %}
