{% extends "layouts/main.html" %}

{% block content %}
<!-- Using React for rendering this -->
<div class="page-editperson" id="js-editperson-container">
</div>

{% include "person/_find_person_modal.html" %}
{% endblock %}

{% block extra_script %}
<script>
 // set display maps
 window.statuses = {{ params.statuses|safe }};
 window.genders = {{ params.genders|safe }};
 window.parent = {{ params.parent|safe }};
 window.partner = {{ params.partner|safe }};

 {% if params.from %}
   window.fromPerson = "{{ params.from }}";
 {% endif %}
</script>
<script src="/js/person_edit_detail.js{{ version }}"></script>
{% endblock %}
