{% extends "layouts/admin.html" %}

{% block heading %}
Đổi mật khẩu
{% endblock %}

{% block content %}
<form action="/admin/changePassword" method="POST">
  <div class="form-group {% if params.current-password %}has-error{% endif %}">
    <label for="password">Mật khẩu hiện tại</label>
    <input type="password" class="form-control"
           name="current-password" id="password" placeholder="Mật khẩu hiện tại">
    {% if params.current-password %}
    <span class="help-block">{{ params.current-password }}</span>
    {% endif %}
  </div>
  <div class="form-group {% if params.new-password %}has-error{% endif %}">
    <label for="password">Mật khẩu mới</label>
    <input type="password" class="form-control"
           name="new-password" id="password" placeholder="Mật khẩu mới">
    {% if params.new-password %}
    <span class="help-block">{{ params.new-password }}</span>
    {% endif %}
  </div>
  <div class="form-group {% if params.confirm-password %}has-error{% endif %}">
    <label for="password">Nhập lại mật khẩu mới</label>
    <input type="password" class="form-control"
           name="confirm-password" id="password" placeholder="Nhập lại mật khẩu mới">
    {% if params.confirm-password %}
    <span class="help-block">{{ params.confirm-password }}</span>
    {% endif %}
  </div>
  <button type="submit" class="btn btn-default">Đổi mật khẩu</button>
</form>
{% endblock %}

{% block extra_script %}
{% endblock %}
