/.vagrant/*
/scripts/*
/schema/db.json
/site/target/*
/site/logs/*
/site/.lein-repl-history
/site/.lein-env
/site/out/*
/site/repl/*
/site/src/config/db.clj
/site/src/config/system.clj
/site/src/config/neo4j.clj
/site/resources/public/bower/*
/site/resources/public/js/*
/site/resources/public/css/*
/site/src/app/views/version.clj
/a.sql
/password
*.tern-port
/sass/bower
*.DS_Store*
/site/.lein-failures
/site/resources/public/person-image
/site/backup/*
/site/temp/*
/site/target/*
/site/src/config/db.clj
/site/src/config/system.clj
/site/dev-resources/*
/site/src/config/neo4j.clj
/docker-compose.yml
