.page-persondetail {
  .persondetail-col-2 {
    flex: 3 3 0;

    /* profile header */
    .profile-header {
      font-size: 20px;
      color: $brown;
    }

    /* profile body */
    .profile-body {
      padding-top: 10px;

      /* row */
      .profile-body-row {
        @include flex(row nowrap);
        align-items: center;
        height: 50px;
        border-bottom: 1px solid $grey;

        .profile-body-left {
          flex: 1 1 0;
          color: $brown;
          font-weight: bold;
        }

        .profile-body-right {
          flex: 3 3 0;
        }
      }

      .profile-body-row:last-child {
        border-bottom: 0;
      }
    }
  }
}
