/* Tree page */

/* Tree graph (SVG) element */
.tree-page {
  @include svg-tree-graph;

  /* initial size */
  #js-tree-container {
    height: 1000px;
  }

  .controls-container {
    label {
      color: $brown;
    }
  }

  /* user info modal */
  .person-info-modal {
    .modal-body {
      @include flex(row nowrap);

      .person-info-left {
        flex: 1 1 auto;
      }

      .person-info-right {
        flex: 2 2 auto;
      }
    }
  }
}
