/target/*
/logs/*
/.lein-repl-history
/.lein-env
/out/*
/repl/*
/resources/public/bower/*
/resources/public/js/*
/resources/public/css/*
/.lein-failures
/resources/public/person-image
/backup/*
/temp/*
/target/*
/dev-resources/*
/node_modules
/sass/bower
