/target/*
/logs/*
/.lein-repl-history
/.lein-env
/out/*
/repl/*
/resources/public/bower/*
/resources/public/js/*
/resources/public/css/*
/.lein-failures
/resources/public/person-image
/backup/*
/temp/*
/target/*
/src/config/db.clj
/src/config/system.clj
/dev-resources/*
/src/config/neo4j.clj
/node_modules
/sass/bower
/src/app/views/version.clj
