/* post images block */
.page-index {
  .post-images {
    .post-images-big {
      overflow: hidden;
      max-height: 350px;
      @include flex(row nowrap);
      padding-bottom: 20px;
    }

    .post-images-big {
      a {
        align-self: center;
      }

      img {
        width: 100%;
      }
    }

    .post-images-line {
      @include flex(row nowrap);
      width: 100%;
      height: 75px;
    }

    .post-images-line {
      > div {
        flex: 1 1 0;
        overflow: hidden;
        padding-right: 10px;
        height: 75px;
        @include flex(row nowrap);

        &:last-child {
          padding-right: 0;
        }

        a {
          align-self: center;
        }

        img {
          width: 100%;
        }
      }
    }
  }
}
