/* post news block */
.page-index {
  /* post news general */
  .post-news {
    .post-body {
      @include flex(row nowrap);

      @media (max-width: $screen-sm-max) {
        @include flex(column nowrap);
      }
    }
  }

  .post-news {
    .post-news-left {
      flex: 3 3 0;

      @media (max-width: $screen-sm-max) {
        flex: 3 3 auto;
      }
    }

    .post-news-right {
      flex: 2 2 0;

      @media (max-width: $screen-sm-max) {
        /* flex: 2 2 auto; */
        display: none;
      }
    }
  }

  /* post news left */
  .post-news {
    .post-news-left {
      padding-right: 20px;

      @media (max-width: $screen-sm-max) {
        padding-right: 0;
      }
    }

    .post-news-left {
      .post-news-image {
        overflow: hidden;
        height: 200px;
        @include flex(row nowrap);

        img {
          width: 100%;
          align-self: center;
        }
      }

      .post-image-title {
        padding-top: 5px;
        a {
          color: $brown;
          font-weight: bold;
        }
      }

      .post-image-date {
        color: $grey;
      }

      .post-image-content {
        padding-top: 5px;
      }
    }
  }

  /* post news right */
  .post-news {
    .post-news-right {
      .post-news-list {
        margin-bottom: 0;

        > li {
          padding-bottom: 11px;

          .post-news-title {
            > a {
              color: $brown;
              font-weight: bold;
            }
          }

          .post-news-date {
            padding-top: 5px;
            color: $grey;
          }
        }

        > li.post-news-more {
          padding-bottom: 0;

          > a {
            color: $brown;
            font-weight: bold;
          }
        }
      }
    }
  }
}
