/* post preface block */
.page-index {
  .post-preface {
    .post-body {
      @include flex(row nowrap);
    }
  }

  .post-preface {
    .post-image {
      flex: 1 1 0;
      padding-right: 30px;

      img {
        width: 100%;
      }
    }

    .post-content {
      flex: 3 3 0;
    }
  }

  .post-preface {
    @media (max-width: $screen-xs-max) {
      .post-body {
        @include flex(column nowrap);
      }

      .post-image {
        flex: 1 1 auto;
        padding-right: 0;
      }

      .post-content {
        flex: 1 1 auto;
        padding-top: 15px;
      }
    }
  }
}
