.page-index {
  @include flex(column);
}

.page-index {
  .site-container-row {
    @include flex(row);
  }

  .site-container-row {
    .post-left {
      flex: 2 2 0;
      padding-right: 20px;
    }

    .post-right {
      flex: 1 1 0;
    }
  }

  .post {
    @include flex(column nowrap);
    padding-top: 20px;
  }

  .post {
    .post-header {
      flex: 1 1 width;
      background-image: url('/assets/img/post-header-bg.png');
      background-position: 100% 22px;
      background-repeat: no-repeat;
      text-transform: uppercase;
      padding-bottom: 20px;
    }
  }

  .post {
    .post-header {
      .post-header-content {
        background-color: white;
        display: inline-block;
        padding-right: 7px;
        color: $brown;
      }
    }
  }
}

/* post preface block */
.page-index {
  .post-preface {
    .post-body {
      @include flex(row nowrap);
    }
  }

  .post-preface {
    .post-image {
      flex: 1 1 0;
      padding-right: 30px;
    }

    .post-content {
      flex: 3 3 0;
    }
  }

  .post-preface {
    @media (max-width: $screen-sm-max) {
      .post-body {
        @include flex(column nowrap);
      }

      .post-image {
        flex: 1 1 auto;
      }

      .post-content {
        flex: 1 1 auto;
      }
    }
  }
}

/* post news block */
.page-index {
  /* post news general */
  .post-news {
    .post-body {
      @include flex(row nowrap);
    }
  }

  .post-news {
    .post-news-left {
      flex: 3 3 0;
    }

    .post-news-right {
      flex: 2 2 0;
    }
  }

  /* post news left */
  .post-news {
    .post-news-left {
      padding-right: 20px;
    }

    .post-news-left {
      .post-news-image {
        overflow: hidden;
        height: 200px;
        @include flex(row nowrap);

        img {
          width: 100%;
          align-self: center;
        }
      }

      .post-image-title {
        padding-top: 5px;
        a {
          color: $brown;
          font-weight: bold;
        }
      }

      .post-image-date {
        color: $grey;
      }

      .post-image-content {
        padding-top: 5px;
      }
    }
  }

  /* post news right */
  .post-news {
    .post-news-right {
      .post-news-list {
        margin-bottom: 0;

        > li {
          padding-bottom: 11px;

          .post-news-title {
            > a {
              color: $brown;
              font-weight: bold;
            }
          }

          .post-news-date {
            padding-top: 5px;
            color: $grey;
          }
        }

        > li.post-news-more {
          padding-bottom: 0;

          > a {
            color: $brown;
            font-weight: bold;
          }
        }
      }
    }
  }
}

/* post images block */
.page-index {
  .post-images {
    .post-images-big {
      overflow: hidden;
      max-height: 350px;
      @include flex(row nowrap);
      padding-bottom: 20px;
    }

    .post-images-big {
      a {
        align-self: center;
      }

      img {
        width: 100%;
      }
    }

    .post-images-line {
      @include flex(row nowrap);
      width: 100%;
      height: 75px;
    }

    .post-images-line {
      > div {
        flex: 1 1 0;
        overflow: hidden;
        padding-right: 10px;
        height: 75px;
        @include flex(row nowrap);

        &:last-child {
          padding-right: 0;
        }

        a {
          align-self: center;
        }

        img {
          width: 100%;
        }
      }
    }
  }
}

/* post members block */
.page-index {
  .post-members {
    ul.post-members-list {
      list-style: none;
      margin-bottom: 0;
      padding-left: 0;

      > li {
        padding-bottom: 6px;

        div.post-members-item {
          @include flex(row nowrap);
          height: 40px;
          align-items: center;

          img {
            width: 40px;
            height: 40px;
          }

          div.post-members-content {
            padding-left: 8px;
            padding-bottom: 3px;

            > a {
              color: $brown;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
