{% extends "layouts/full-width.html" %}

{% block content %}
<div class="tree-page">
  <div class="container site-container">
    <div class="controls-container">
      <div class="checkbox checkbox-inline checkbox-success">
        <input type="checkbox" id="option-marriage-checkbox" class="js-toggle-marriage">
        <label for="option-marriage-checkbox">Hiện hôn nhân</label>
      </div>
    </div>
  </div>

  <div class="tree-container" id="js-tree-container">
  </div>

  <div id="js-user-modal-container"></div>
</div>
{% endblock %}

{% block extra_script %}
<script src="/js/tree.js{{ version }}"></script>
<script>
 window.isAuthenticated = {{ user.authenticated|default:"false" }};
</script>
{% endblock %}
