{% extends "layouts/full-width.html" %}

{% block content %}
<div class="tree-page">
  <div class="container site-container">
    <div class="controls-container panel panel-default">
      <div class="panel-body">
        <input type="checkbox" name="checkboxG4" id="checkboxG4" class="controls-checkbox js-toggle-marriage" />
        <label for="checkboxG4" class="controls-label">Hiện vợ/chồng</label>
      </div>
    </div>
  </div>

  <div class="tree-container" id="js-tree-container">
  </div>

  <div id="js-user-modal-container"></div>
</div>
{% endblock %}

{% block extra_script %}
<script>
 window.isAuthenticated = {{ user.authenticated|default:"false" }};
 window.personId = {{ params.personId|safe }};
 window.treeDepth = {{ params.depth|safe }};
</script>
<script src="/js/tree.js{{ version }}"></script>
{% endblock %}
