{% extends "layouts/main.html" %}

{% block content %}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-{{ params.class }}">
      <div class="panel-heading">
        <h1 class="panel-title">{{ params.title }}</h1>
      </div>
      <div class="panel-body">
        <p>
          {{ params.message }}
        </p>
        {% if params.redirect %}
        <p>
          Tự động quay về {{ params.text }} trong 5 giây
        </p>
        {% endif %}
      </div>
      <div class="panel-footer">
        <a class="btn btn-default" href="/" role="button">Về trang chủ</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_script %}
<script>
 {% if params.redirect %}
 var redirectLink = {{ params.redirect|json|safe }};
 var redirectText = {{ params.text|json|safe }};
 {% endif %}
</script>
<script src="/js/message_page.js{{ version }}"></script>
{% endblock %}
