<div class="persondetail-parents">
  <div class="parent-title">
    Vợ chồng
  </div>
  <div class="parent-help">
    {% if params.partners|empty? %}
      Chưa có thông tin về hôn nhân của thành viên này
    {% else %}
      Người này có {{ params.partners|count }} vợ/chồng
    {% endif %}
  </div>
  <div class="parent-body">
    <ul>
      {% for partner in params.partners %}
      <li>
        <div class="parent-image people-image">
          <a href="/person/detail/{{ partner.id }}">
            <img class="img-responsive img-rounded" alt="" src="{{ partner.picture }}"/>
          </a>
        </div>
        <div class="parent-info people-info">
          <div class="parent-name people-name">
            <span>{{ partner.full-name }}</span>
          </div>
          <div>
            <a href="/person/detail/{{ partner.id }}">Xem thông tin</a>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
