<footer class="site-footer">
  <div class="container-fluid header-nav">
    <div class="container">
      <nav class="footer-content">
        <ul class="footer-menu">
          <li>
            <a href="/">
              Trang chủ
            </a>
          </li>
          <li>
            <a href="/">
              Cây gia phả
            </a>
          </li>
          <li>
            <a href="/">
              Lịch sử dòng họ
            </a>
          </li>
          <li>
            <a href="/">
              Liên hệ
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="container-fluid footer-banner">
    <div class="container">
      DEF
    </div>
  </div>
</footer>
