<header class="site-header">
  <div class="container-fluid header-banner">
    <div class="container">
      <div class="header-site-name">
        {{ title }}
      </div>
      <div class="header-site-headline">
        {{ head-line }}
      </div>
    </div>
  </div>

  <div class="container-fluid header-nav">

    <div class="container">
      <nav class="header-content" role="banner">
        <ul class="header-content--left header-menu">
          <li><a href="/">{{ homepage }}</a></li>
          <li><a href="#">{{ members }}</a></li>
          <li><a href="#">{{ pedigree-tree }}</a></li>
          <li><a href="#">{{ pedigree-history }}</a></li>
          <li><a href="#">{{ contact }}</a></li>
        </ul>
        <ul class="header-content--right header-menu">
          {% if user.authenticated %}
            <li class="header-user">{{ hello }}
              <span class="header-user-name">{{ user.username }}</span> <a class="header-user-logout" href="/logout"><i class="fa fa-sign-out fa-lg"></i></a>
            </li>
          {% else if %}
            <li><a href="/login">{{ login }}</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
</header>
