<header class="site-header">
  <div class="container-fluid header-banner">
    <div class="container text-center">
      <h1>Gia Pha<br/>
        <small>Phát triển tào lao</small>
      </h1>
    </div>
  </div>

  <div class="container-fluid header-nav">

    <div class="container">
      <nav class="header-content" role="banner">
        <ul class="header-content--left header-menu">
          <li><a href="#">Trang chủ</a></li>
          <li><a href="#">Thành viên</a></li>
          <li><a href="#">Cây gia phả</a></li>
          <li><a href="#">Lịch sử dòng họ</a></li>
          <li><a href="#">Liên hệ</a></li>
        </ul>
        <ul class="header-content--right header-menu">
          {% if user.authenticated %}
            <li>Hello
              <strong>{{ user.username }}</strong>
            </li>
          {% else if %}
            <li><a href="/login">Đăng nhập</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
</header>
