<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="description" content="">
<meta name="author" content="">
<title>
  {% if page.title %}
    {{ page.title }}
  {% else %}
    {{ layout.title }}
  {% endif %}
</title>
<link href="/bower/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css{{ version }}" rel="stylesheet">
<link href="/bower/bootstrap-markdown/css/bootstrap-markdown.min.css{{ version }}" rel="stylesheet">
<link href="/css/main.css{{ version }}" rel="stylesheet">
