<script src="/bower/jquery/dist/jquery.min.js{{ version }}"></script>
<script src="/bower/bootstrap-sass/assets/javascripts/bootstrap.min.js{{ version }}"></script>
<script src="/bower/d3/d3.min.js{{ version }}"></script>
<script src="/bower/q/q.js{{ version }}"></script>
<script src="/bower/lodash/lodash.min.js{{ version }}"></script>
<script src="/bower/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js{{ version }}"></script>
<script src="/bower/bootstrap-datepicker/dist/locales/bootstrap-datepicker.vi.min.js{{ version }}" charset="UTF-8"></script>
<script src="/bower/react/react.js{{ version }}" charset="UTF-8"></script>
<script src="/bower/markdown/lib/markdown.js{{ version }}" charset="UTF-8"></script>
<script src="/bower/to-markdown/dist/to-markdown.js{{ version }}" charset="UTF-8"></script>
<script src="/bower/bootstrap-markdown/js/bootstrap-markdown.js{{ version }}" charset="UTF-8"></script>
<script src="/bower/microevents/microevent.js{{ version }}" charset="UTF-8"></script>
<script src="/bower/flux/dist/Flux.min.js{{ version }}" charset="UTF-8"></script>
