<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "layouts/_meta.html" %}
  </head>
  <body class="site">
    {% include "layouts/_header.html" %}

    <main class="site-content">
      <div class="container site-container js-admin-sidebar">
        <div class="row">
          <div class="col-md-3">
            <div class="list-group">
              <div class="list-group-item list-group-item-warning">
                <strong>Thông tin tài khoản</strong>
              </div>
              <a href="/admin/changePassword" class="list-group-item">Đổi mật khẩu</a>
              <div class="list-group-item list-group-item-warning">
                <strong>Thông tin khác</strong>
              </div>
              <a href="/admin/prefaceManagement" class="list-group-item">Lời tâm huyết</a>
              <a href="#" class="list-group-item">Morbi leo risus</a>
              <div class="list-group-item list-group-item-warning">
                <strong>Cras justo odio</strong>
              </div>
              <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
              <a href="#" class="list-group-item">Morbi leo risus</a>
            </div>
          </div>
          <div class="col-md-9">
            {% if params.message %}
            <div class="alert js-message-alert" role="alert">
              {{ params.message }}
            </div>
            {% endif %}
            <div class="panel panel-warning">
              <div class="panel-heading">
                <h3 class="panel-title">
                  {% block heading %}{% endblock %}
                </h3>
              </div>
              <div class="panel-body">
                {% block content %}{% endblock %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    {% include "layouts/_footer.html" %}

    <!-- script tag -->
    {% include "layouts/_scripts.html" %}
    {% block extra_script %}{% endblock %}
    <script src="/js/admin_sidebar.js{{ version }}"></script>
    {% if params.message %}
    <script>
     var messageType = {{ params.message-type|json|safe }};
    </script>
    <script src="/js/message_alert.js{{ version }}"></script>
    {% endif %}
  </body>
</html>
