<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "layouts/_meta.html" %}
  </head>
  <body class="site">
    {% include "layouts/_header.html" %}

    <main class="site-content">
      <div class="container site-container">
        {% if params.message %}
        <div class="alert js-message-alert" role="alert">
          {{ params.message }}
        </div>
        {% endif %}
        {% block content %}{% endblock %}
      </div>
    </main>

    {% include "layouts/_footer.html" %}

    <!-- script tag -->
    {% include "layouts/_scripts.html" %}
    {% block extra_script %}{% endblock %}
    {% if params.message %}
    <script>
     var messageType = {{ params.message-type|json|safe }};
    </script>
    <script src="/js/message_alert.js{{ version }}"></script>
    {% endif %}
  </body>
</html>
