.site-footer {
  margin-top: 30px;
}

/* nav */
.site-footer {
  .footer-nav {
    background-color: $yellow;
    @include border-vertical;
  }

  .footer-text {
    padding-left: 0;
    padding-right: 0;
  }

  .footer-content {
    ul.footer-menu {
      @include flex(row nowrap);
      list-style: none;
      margin-bottom: 0;
      padding-left: 0;

      > li {
        padding-top: 15px;
        padding-bottom: 15px;

        a {
          color: $brown;
        }
      }
      > li::after {
        content: "|\00a0";
      }

      > li:last-child::after {
        content: "";
      }
    }

    @media (max-width: $screen-xs-max) {
      ul.footer-menu {
        @include flex(row wrap);

        > li {
          width: 45%;
          border-bottom: 1px solid $grey;
        }

        > li::after {
          content: "";
        }

        > li:nth-child(odd) {
          margin-right: 5%;
        }

        > li:nth-child(even) {
          margin-left: 5%;
        }

        > li:last-child {
          border-bottom: 0;
        }

        > li:nth-last-child(2) {
          border-bottom: 0;
        }
      }
    }
  }
}

/* banner */
.site-footer {
  .footer-banner {
    height: 50px;
    background-image: url('/assets/img/banner.png');
    padding: 0;
  }

  .footer-banner {
    .container {
      height: 50px;
      padding-left: 0;
      display: flex;
      align-items: center;

      @media (max-width: $screen-xs-max) {
        padding-left: 15px;
      }
    }
  }
}
