<div class="post post-right post-images">
  <div class="post-header">
    <h3 class="post-header-content">Hình ảnh</h3>
  </div>
  <div class="post-body">
    <div class="post-images-big">
      <a href="/">
        <img class="img-responsive" alt="" src="/assets/img/b.jpg"/>
      </a>
    </div>

    <div class="post-images-line">
      <div>
        <a href="/">
          <img alt="" src="/assets/img/c.jpg"/>
        </a>
      </div>
      <div>
        <a href="">
          <img alt="" src="/assets/img/h.jpg"/>
        </a>
      </div>
      <div>
        <a href="">
          <img alt="" src="/assets/img/j.jpg"/>
        </a>
      </div>
    </div>
  </div>
</div>
