<div class="post post-left post-tree">
  <div class="post-header">
    <h3 class="post-header-content">CÂY GIA PHẢ</h3>
  </div>
  <div class="post-body">
    <div class="post-tree-graph" id="js-tree-container">
    </div>
    <div class="post-tree-content">
      <div class="post-tree-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enimad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <div class="post-tre-link">
        <a href="/tree/view">
          Xem thêm thông tin
        </a>
      </div>
    </div>
  </div>
</div>
