<div class="post post-right post-members">
  <div class="post-header">
    <h3 class="post-header-content">THÔNG BÁO</h3>
  </div>
  <div class="post-body">
    <ul class="post-members-list">
      <li>
        <div class="post-members-item">
          <img class="img-rounded" alt="" src="/assets/img/l.jpg"/>
          <div class="post-members-content">
            <a href="/">
              Kiều Trinh (1994)
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="post-members-item">
          <img class="img-rounded" alt="" src="/assets/img/m.jpg"/>
          <div class="post-members-content">
            <a href="/">
              Mai Trang (1967 - 2003)
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="post-members-item">
          <img class="img-rounded" alt="" src="/assets/img/n.jpg"/>
          <div class="post-members-content">
            <a href="/">
              Bé Ciu (1998)
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="post-members-item">
          <img class="img-rounded" alt="" src="/assets/img/i.jpg"/>
          <div class="post-members-content">
            <a href="/">
              Nguyễn Lê Vi (1996)
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="post-members-item">
          <img class="img-rounded" alt="" src="/assets/img/p.jpg"/>
          <div class="post-members-content">
            <a href="/">
              An Japan (1996)
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
