<div class="post post-right post-members">
  <div class="post-header">
    <h3 class="post-header-content">{{ page.members }}</h3>
  </div>
  <div class="post-body">
    <ul class="post-members-list">
      <li>
        <div class="post-members-item">
          <img class="img-rounded" alt="" src="/assets/img/l.jpg"/>
          <div class="post-members-content">
            <a href="/">
              Dương Dươngg (1996)
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="post-members-item">
          <img class="img-rounded" alt="" src="/assets/img/m.jpg"/>
          <div class="post-members-content">
            <a href="/">
              Diệu Thu (1996)
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="post-members-item">
          <img class="img-rounded" alt="" src="/assets/img/n.jpg"/>
          <div class="post-members-content">
            <a href="/">
              Dương Dươngg (1996)
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="post-members-item">
          <img class="img-rounded" alt="" src="/assets/img/o.jpg"/>
          <div class="post-members-content">
            <a href="/">
              Diệu Thu (1996)
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="post-members-item">
          <img class="img-rounded" alt="" src="/assets/img/p.jpg"/>
          <div class="post-members-content">
            <a href="/">
              Dương Dươngg (1996)
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
