{% extends "layouts/main.html" %}

{% block content %}
<div class="page-index">
  <div class="site-container-row">
    {% include "home/_index_preface.html" %}

    <div class="post post-right">
      <div class="post-header">
        <h3 class="post-header-content">THÔNG BÁO</h3>
      </div>
      <div class="post-list">
        <ul>
          <li>Thông báo nghỉ lễ 30/4 - 1/5</li>
          <li>Thông báo ngày giỗ tổ dòng họ</li>
          <li>Thông báo khác...</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="site-container-row">
    {% include "home/_index_news.html" %}

    {% include "home/_index_images.html" %}
  </div>
  <div class="site-container-row">
    <div class="post post-left">
      <div class="post-header">
        <h3 class="post-header-content">CÂY GIA PHẢ</h3>
      </div>
      <div>
        AAAA
      </div>
    </div>

    <div class="post post-right">
      <div class="post-header">
        <h3 class="post-header-content">LIÊN KẾT KHÁC</h3>
      </div>
      <div>
        AAAA
      </div>
    </div>
  </div>
</div>
{% endblock %}
