{% extends "layouts/main.html" %}

{% block content %}
<div class="page-index">
  <div class="site-container-row">
    <div class="post post-left">
      <div class="post-header">
        <h3>Lời tâm huyết</h3>
      </div>
      <div>
        AAAA
      </div>
    </div>

    <div class="post post-right">
      ABC
    </div>
  </div>
  <div class="site-container-row">
    <div class="post post-left">
      Left
    </div>
    <div class="post post-right">
      Right
    </div>
  </div>
  <div class="site-container-row">
    <div class="post post-left">
      Left
    </div>
    <div class="post post-right">
      Right
    </div>
  </div>
</div>
{% endblock %}
